<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VBEmu.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <VBEmu.My.MySettings>
            <setting name="es_settings_loc" serializeAs="String">
                <value />
            </setting>
            <setting name="joystick_start" serializeAs="String">
                <value />
            </setting>
            <setting name="joystick_next_game" serializeAs="String">
                <value />
            </setting>
            <setting name="joystick_previous_game" serializeAs="String">
                <value />
            </setting>
            <setting name="joystick_next_system" serializeAs="String">
                <value />
            </setting>
            <setting name="joystick_previous_system" serializeAs="String">
                <value />
            </setting>
            <setting name="joystick_next_genre" serializeAs="String">
                <value />
            </setting>
            <setting name="joystick_previous_genre" serializeAs="String">
                <value />
            </setting>
            <setting name="precache" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="livecache" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="freeze" serializeAs="String">
                <value>False</value>
            </setting>
        </VBEmu.My.MySettings>
    </userSettings>
</configuration>
